---
import { site } from '../config/site';
const { authors, years, builtWith } = site.footer;
---

<div class="site-footer">
  <p class="copyright">
    © {years}{' '}
    {
      authors.map((a, i) => (
        <>
          {i > 0 ? ' & ' : ''}
          <a href={a.url} target="_blank" rel="noopener noreferrer">
            {a.name}
          </a>
        </>
      ))
    }
    <span class="sep"> · </span>
    <a class="rss" href="/rss.xml">RSS</a>
  </p>
  <p class="credit">
    <a href={builtWith.url} target="_blank" rel="noopener noreferrer">{builtWith.label}</a>로 다시 만들었습니다
  </p>
</div>

<style lang="scss">
  @import '../styles/variables';

  .site-footer {
    text-align: center;
  }

  .copyright {
    margin: 0;
    color: $color-gray;
    font-size: $typographic-small-font-size;
    line-height: 1.4;
  }

  .credit {
    margin: 2px 0 0;
    color: var(--c-text-faint);
    font-size: $typographic-small-font-size;
    line-height: 1.4;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.15s ease;
  }

  a:hover {
    border-bottom-color: currentColor;
  }
</style>
